a[href='play.htm'] {
	border-color: #FFFFFF;
}

body {
	overflow-y: hidden;
}

.no-ads {
	display: none;
}

.js-panorama {
	height: 570px;
	margin-top: 80px;
}

@media screen and ( max-height: 740px ) {

.js-panorama {
	margin-top: 8px;
}

}
